# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [150]:
import pandas as pd

In [151]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [152]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.

print(df.shape, "\n")
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

(4008, 11)

The dataset has 4008 rows and 11 columns.

In [153]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
# Provide suggestions for fixing any incorrect data types.

df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [154]:
df['Number of Open Complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [155]:
# # Customer Lifetime Value and Number of Open Complaints: They are displayed as objects (text), but their names suggest they should be numeric.
# Suggestions for fixing incorrect data types:

# --- CUSTOMER LIFETIME VALUE ---
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(str).str.replace('%', '')
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

# --- NUMBER OF OPEN COMPLAINTS ---
df['Number of Open Complaints'] = df['Number of Open Complaints'].astype(str).str.split('/').str[1]
df['Number of Open Complaints'] = pd.to_numeric(df['Number of Open Complaints'], errors='coerce')

In [156]:
print(df.info(), "\n")

# Columns that appear to be categorical: 
# --- Categorical Values ---
# ST
# GENDER
# Education
# Policy Type
# Vehicle Class


# Insights about unique values of each categorical column and the range of values for numerical columns..

print(df.describe())
df.nunique()

for col in ['ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']:
    print(f"\nUnique values of: '{col}':")
    print(df[col].unique())

# --- ST (State or Region) ---
# - Issue: Mix of full names and abbreviations ('Cali', 'AZ', 'WA')
# - Fix: Standardize to full names (e.g., 'AZ' → 'Arizona')
# - This may indicate that the data comes from a company with regional operations — useful for segmenting campaigns or understanding local patterns.

# --- GENDER ---
# - Issue: Inconsistencies and typos ('F', 'M', 'Femal', 'female')
# - Fix: Normalize to 'Male' and 'Female'
# - Inconsistencies could affect segmentation. After cleaning, we can explore behavioral differences between 'Male' and 'Female'

# --- Education ---
# - Issue: 'Bachelor' vs 'Bachelors' — semantic duplication
# - Fix: Standardize to 'Bachelor'; consider ranking if used as an ordinal variable
# - Useful as an ordinal variable. Customers with 'PhD' or 'Master' degrees may show different spending or complaint patterns

# --- Policy Type ---
# - Status: Well-defined values ('Personal Auto', 'Corporate Auto', 'Special Auto')
# - Fix: Only handle NaN values if needed
# - Great for customer segmentation — useful in risk analysis or retention strategies.

# --- Vehicle Class ---
# - Status: Clearly defined categories; optional grouping ('Luxury' vs 'Standard')
# - Fix: Create a grouped version if you want to simplify analysis
# - May reflect economic status or risk profile. Luxury vehicle owners might have higher premiums or fewer complaints.

# --- Customer Lifetime Value ---
# The range is extremely wide — over €5.6 million. This suggests there are customers with exceptionally high CLVs, which could be:
# - Corporate clients with multiple policies
# - Data entry or calculation errors
# - Outliers that distort the average

# --- Income ---
# Some customers have zero income, possibly students, unemployed individuals, or missing data.
# The maximum is high but plausible. The range shows significant economic diversity among customers.

# --- Monthly Premium Auto ---
# The minimum seems reasonable for auto insurance.
# But the maximum — over €35,000 per month — is highly suspicious. It could indicate:
# - A data entry error (e.g., annual premium recorded as monthly)
# - A client with multiple vehicles or special coverage
# - An outlier worth investigating

# --- Total Claim Amount ---
# Claims range from symbolic amounts to substantial payouts.
# The maximum is high but realistic, possibly reflecting a major accident or comprehensive coverage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   float64
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB
None

       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.068000e+03   1071.000000           1071.000000
mean              7.936903e+05  39295.701214            193.234360
std               6.434784e+05  30469.427060           1601.190369
min               2.004351e+05      0.000000             61.000000
25%               4.034080e+05  14072.000000             68.000000
50%               5.881742e+05  36234.000000             83.000000
75%               8.962872e+05  64631.000000            109.500000
max               5.816655e+06  99960.000000          35354.000000

       Number of Open Complaints  Total Claim Amount
count                1071.000000         1071.000000
mean                    0.394024          404.986909
std                     0.883769          293.027260
min                     0.000000            0.382107
25%                     0.000000          202.157702
50%                     0.000000          354.729129
75%                     0.000000          532.800000
max                     5.000000         2893.239678

Unique values of: 'ST':
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique values of: 'GENDER':
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values of: 'Education':
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values of: 'Policy Type':
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values of: 'Vehicle Class':
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [157]:
# Compute summary statistics such as mean, median, mode, standard deviation, and quartiles
# to understand the central tendency and distribution of the data for numerical columns.
# You should also provide your conclusions based on these summary statistics.
df.describe()

# --- CONCLUSIONS ---
# The statistical data reveals a highly diverse customer base, with significant variation across financial and behavioral indicators.
# The average Customer Lifetime Value is high, around 793,690, but the standard deviation is also substantial (643,478), indicating wide dispersion—some customers contribute far above the average, while others fall well below.
# The average income is approximately 39,296, ranging from zero to nearly 100,000, suggesting the presence of both undeclared income and financially robust profiles.
# The monthly auto insurance premium averages 193, but the standard deviation is extremely high (1,601), with a maximum of 35,354. This points to the existence of outliers or possible data entry errors. The median of 83 and lower quartiles show that most customers pay significantly less, reinforcing the idea that extreme values do not reflect the general pattern.
# The number of open complaints, most customers have none, as shown by the median and lower quartiles all at zero. However, the maximum of five complaints indicates isolated cases of significant dissatisfaction.
# The total claim amount averages around 405, with a relatively concentrated distribution, although the maximum exceeds 2,800, suggesting high-impact claims in specific cases.

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,1.068000e+03,1071.000000,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,0.394024,404.986909
std,6.434784e+05,30469.427060,1601.190369,0.883769,293.027260
min,2.004351e+05,0.000000,61.000000,0.000000,0.382107
25%,4.034080e+05,14072.000000,68.000000,0.000000,202.157702
50%,5.881742e+05,36234.000000,83.000000,0.000000,354.729129
75%,8.962872e+05,64631.000000,109.500000,0.000000,532.800000
max,5.816655e+06,99960.000000,35354.000000,5.000000,2893.239678

In [158]:
# Summary statistics for categorical columns and conclusions based on these statistics.

categorical_summary = df.describe(include='object')
print(categorical_summary)

# The Customer column shows 1071 unique values, indicating that each row represents a distinct client.
# The ST column contains five different states, with Arizona (AZ) being the most frequent, appearing 293 times. This suggests a significant concentration of clients in that region.
# Regarding GENDER, there are only two categories, with a predominance of female clients (F), totaling 495 entries.
# The Education column includes five distinct levels of education, with "College" being the most common, representing 383 clients. This may indicate a customer base with intermediate academic qualifications.
# The Policy Type column reveals three types of policies, with a strong dominance of "Personal Auto," accounting for 786 cases. This suggests that most clients are interested in personal auto insurance.
# The Vehicle Class column contains six categories, with "Four-Door Car" being the most frequent, appearing 558 times, indicating a clear preference for this type of vehicle.
# In summary, the data reflects a customer base that is predominantly female, educated at the college level, concentrated in Arizona, primarily purchasing personal auto insurance, and mostly owning four-door cars.

       Customer      ST GENDER Education    Policy Type  Vehicle Class
count      1071    1071    954      1071           1071           1071
unique     1071       8      5         6              3              6
top     MY31220  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    457       324            780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [159]:
df_series = pd.read_csv(url, usecols=["ST"]).squeeze("columns")
df_series.value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [160]:
df['ST'] = df['ST'].replace({
    'Cali': 'California',
    'AZ': 'Arizona',
    'WA': 'Washington'
})
df['ST'].value_counts()

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [161]:
df['ST'].value_counts(ascending=True).head(5)

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [167]:
df_series_pt = pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns")
policy_counts = df_series_pt.value_counts()

In [168]:
top_policy_type = df_series_pt.value_counts().idxmax()
top_policy_count = df_series_pt.value_counts().max()

In [169]:
print(policy_counts)
print(f"Top policy type: {top_policy_type} with {top_policy_count} policies sold.")

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Top policy type: Personal Auto with 780 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [180]:
df_personal = df.loc[df["Policy Type"] == "Personal Auto"]

In [181]:
df_corporate = df.loc[df["Policy Type"] == "Corporate Auto"]

In [182]:
average_income_personal = df_personal['Income'].mean()

In [183]:
average_income_corporate = df_corporate['Income'].mean()

In [184]:
print(f"Average income for Personal Auto policies: {average_income_personal:,.2f}")
print(f"Average income for Corporate Auto policies: {average_income_corporate:,.2f}")

Average income for Personal Auto policies: 38,180.70
Average income for Corporate Auto policies: 41,390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [189]:
df["Total Claim Amount"].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [197]:
threshold_75 = 532.8
df_high_claimers = df.loc[df['Total Claim Amount'] >= threshold_75]
df_high_claimers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 273 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   273 non-null    object
 1   ST                         273 non-null    object
 2   GENDER                     245 non-null    object
 3   Education                  273 non-null    object
 4   Customer Lifetime Value    273 non-null    float64
 5   Income                     273 non-null    float64
 6   Monthly Premium Auto       273 non-null    float64
 7   Number of Open Complaints  273 non-null    float64
 8   Policy Type                273 non-null    object
 9   Vehicle Class              273 non-null    object
 10  Total Claim Amount         273 non-null    float64
dtypes: float64(5), object(6)
memory usage: 25.6+ KB

In [200]:
df_high_claimers.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,2.730000e+02,273.000000,273.000000,273.000000,273.000000
mean,9.183794e+05,24106.545788,163.000000,0.424908,774.005353
std,6.582582e+05,27542.717560,613.645376,0.960068,291.304731
min,2.287597e+05,0.000000,63.000000,0.000000,532.800000
25%,4.747735e+05,0.000000,99.000000,0.000000,595.200000
50%,7.859415e+05,18846.000000,113.000000,0.000000,673.342650
75%,1.065688e+06,44897.000000,133.000000,0.000000,844.481918
max,4.022401e+06,99316.000000,10202.000000,5.000000,2893.239678